<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RedService</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js"></script>
  </head>
  <body>
    <footer>
      <div class="footer">&copy;<span> СyberZion - [RedService] </span></div>
    </footer>
    <div class="hello">
      <p>Hello friend, you have taken a red pill with which we can track the frequency of your carrier signal. Enter the correct frequency so that we can get the coordinates of your capsule</p>
    <div>
    <form id="checkCapsuleForm" method="post" action="/">
      <input type="text" name="frequency" placeholder="Input Frequency, example: FREC_gtlcQY7kLIzyt62YXB2LfEFXUzf7VZF5" autocomplete="off"/>
      <br>
      <button type="submit">Send Request</button>
    </form>
    <script src="../static/check.js">
    </script>
  </body>
</html>